*{
	box-sizing: border-box;
	user-select: none;
}

:root{
	--bg-color: #9CC1C9;
	--txt-color: #27606C;
	--container-color: rgb(156, 193, 201, 20%);
	--login-btn-color: rgb(156, 193, 201, 44%);
	--container-radius: 1rem;
	--font-family: 'Kaisei Decol', serif;
	--footer-font-family: 'Ubuntu', sans-serif;
}

.page-bg{
	background-color: var(--bg-color);
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-container{
	background-color: white;
	height: 90%;
	width: 90%;
	border-radius: var(--container-radius);
	padding: 2rem;
	display: grid;
	grid-template-areas: 
		"img logo"
		"img form"
		"img form"
		"img form"
		"img extraspace"
		"img footer"
		;
}

.design-wrapper{
	grid-area: img;
	background-color: var(--bg-color);
	border-radius: var(--container-radius);
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
}

.logo-wrapper{
	grid-area: logo;
}

.form-wrapper{
	grid-area: form;
}

.space-wrapper{
	grid-area: extraspace;
}

.footer-wrapper{
	grid-area: footer;
	/* max-width: 260px; */
}

.img-wrapper{
	background-color: rgba(255,255,255,40%);
	border-radius: var(--container-radius);
	margin: 0 1rem;
}

.img-responsive{
	display: block;
	width: 100%;
	max-width: 100vh;
}

.icon-responsive{
	display: block;
	width: 100%;
	max-width: 20rem;
	margin: auto;
}

.item-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-element{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.min-height-75{
	min-height: 75px;
}

.icon-65{
	width: 65%;
}

.icon-85{
	width: 85%;
}

.border-left{
	border-left: 1px solid var(--bg-color);
}

.form-title{
	font-family: var(--font-family);
	color: var(--txt-color);
	font-weight: bold;
}

.input-box{
	width: 100%;
	margin-top: 1rem;
	border-width: 0 0 1px 0;
	background-color: transparent;
	border-color: transparent;
	transition: ease-in-out 0.3s;
	color: var(--txt-color);
}

.input-box::placeholder{
	color: var(--bg-color);
}

.input-box:hover, 
.input-box:focus{
	border-color: var(--bg-color);
	outline: none;
}

.input-container{
	background-color: var(--container-color);
	height: 5rem;
	width: 100%;
	margin: 1rem 0;
}

.login-btn{
	border: none;
	border-radius: 0.3rem;
	font-family: var(--font-family);
	font-weight: bold;
	font-size: 1.2rem;
	color: var(--txt-color);
	background-color: var(--login-btn-color);
	padding: 0.5rem 1rem;
}

.login-btn:hover{
	background-color: var(--txt-color);
	color: white;
}

.forgotpass{
	color: var(--txt-color);
	font-family: var(--font-family);
}

.forgotpass:hover{
	cursor: pointer;
}

.footer-label{
	color: var(--txt-color);
	font-family: var(--footer-font-family);
}

.footer-icons{
	display: flex;
	justify-content: space-evenly;
	margin-left: 1rem;
}

.footer-icon{
	width: 30%;
}

.icon-ryans{
	max-width: 40%;
}

@media screen and (max-width: 600px) {
	.login-container{
		grid-template-areas: 
		"img"
		"logo"
		"form"
		"form"
		"form"
		"extraspace"
		"footer"
		;
		height: 95%;
		padding: 1rem;
	}

	.img-wrapper{
		margin: 0;
	}

	.design-wrapper{
		height: max-content;
	}

	.top{
		height: max-content;
		margin-bottom: 1rem;
	}

	.sm-f-w{
		width: 100%;
	}

	.forgotpass{
		font-size: 0.9rem;
	}

	.icon-ryans{
		width: 50%;
	}

	.footer-icon{
		width: 25%;
	}

	.bottom{
		display: none;
	}

	.img-responsive, .design-wrapper{
		width: calc(100vw - 20%);
		display: flex;
		justify-self: center;
	}
}