@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');

*{
	box-sizing: border-box;
	user-select: none;
}

:root{
	--bg-color: #9CC1C9;
	--txt-color: #27606C;
	--container-color: rgb(156, 193, 201, 20%);
	--login-btn-color: rgb(156, 193, 201, 44%);
	--container-radius: 1rem;
	--font-family: 'Kaisei Decol', serif;
}

.page-bg{
	background-color: var(--bg-color);
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-container{
	background-color: white;
	height: 90%;
	width: 90%;
	border-radius: var(--container-radius);
	padding: 2rem;
}

.design-wrapper{
	background-color: var(--bg-color);
	border-radius: var(--container-radius);
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-wrapper{
	background-color: rgba(255,255,255,40%);
	border-radius: var(--container-radius);
	margin: 0 1rem;
}

.img-responsive{
	display: block;
	width: 100%;
	/* max-width: 100vh; */
}

.form-wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.display-flex{
	display: flex;
	flex-direction: column;
}

.flex-start{
	align-self: flex-start;
}

.flex-end{
	align-self: flex-end;
}

.flexgrow{
	flex-grow: 1;
}

.title{
	font-family: var(--font-family);
	color: var(--txt-color);
}

.custom-center{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-container{
	background-color: var(--container-color);
	height: 5rem;
	width: 100%;
	margin: 1rem 0;
}

.divider{
	width: 10px;
	height: 10px;
	border: 1px solid var(--bg-color);
}

.border-left{
	border-left: 1px solid var(--bg-color);
}

.item-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-title{
	font-family: var(--font-family);
	color: var(--txt-color);
	font-weight: bold;
}

.input-box{
	width: 100%;
	margin-top: 1rem;
	border-width: 0 0 1px 0;
	background-color: transparent;
	border-color: transparent;
	transition: ease-in-out 0.3s;
	color: var(--txt-color);
}

.input-box::placeholder{
	color: var(--bg-color);
}

.input-box:hover, 
.input-box:focus{
	border-color: var(--bg-color);
	outline: none;
}

.form-icon{
	max-height: 30%;
}

.login-btn{
	border: none;
	border-radius: 0.3rem;
	font-family: var(--font-family);
	font-weight: bold;
	font-size: 1.2rem;
	color: var(--txt-color);
	background-color: var(--login-btn-color);
	padding: 0.5rem 1rem;
}

.login-btn:hover{
	background-color: var(--txt-color);
	color: white;
}

.forgotpass{
	color: var(--txt-color);
	font-family: var(--font-family);
}

.forgotpass:hover{
	cursor: pointer;
}

.min-height-100{
	min-height: 100vh;
}

.border-1{
	border: 1px solid black;
}

/* .btn-wrapper{
	display: flex;
	flex-direction: column;
} */

/* @media (max-width: 500px) {
	.login-container{
		margin: 1rem;
		height: 95%;
		padding: 1rem;
	}

	.img-wrapper{
		margin: 0;
	}

	.design-wrapper{
		height: max-content;
	}
} */